= render 'layouts/page_header', :title => 'Settings', :icon => 'fa-sitemap', :subpage => 'Websites'
%article.col-sm-12.col-md-8.col-lg-6
  #edit-website.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
     widget_fullscreenbutton: "false", widget_colorbutton: "false",
     widget_deletebutton: "false", widget_togglebutton: "false"}}
    %header
      %span.widget-icon
        %i.fa.fa-cloud
      %h2 Edit Website
    %div
      .widget-body
        = render 'form'
