.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Terms and Conditions
.modal-body{style: "overflow-y: scroll; max-height: 440px;"}

  .row
    .col-xs-12
      %h1 Terms of Service

      %p By using the providechat.com web site ("Service"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").

      %p Provide Chat reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://www.providechat.com/legal/terms.php

      %p Violation of any of the terms below will result in the termination of your Account. While Provide Chat prohibits such conduct and Content on the Service, you understand and agree that Provide Chat cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.

      %h2 Account Terms

      %p You must be 13 years or older to use this Service.
      %p You must be a human. Accounts registered by "bots" or other automated methods are not permitted.
      %p You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.
      %p Your login may only be used by one person - a single login shared by multiple people is not permitted. You may create separate logins for as many people as you'd like.
      %p You are responsible for maintaining the security of your account and password. Provide Chat cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
      %p You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).
      %p If you are using a free account you are not permitted to remove Provide Chat links and branding.
      %p One person or legal entity may not maintain more than one free account.
      %p You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).Provide Chat is the smarter choice, whether you're comparing prices, features, ease of use, the people behind the product, and more.


      %h2 Payment, Refunds, Upgrading and Downgrading Terms

      %p A valid credit card or PayPal account is required for paying accounts. Free accounts are not required to provide a credit card number or PayPal account.
      %p If you initially sign up for a paid account, you will be billed monthly starting on the 31st day after your account was initially created. You will be billed monthly after signing up. Recurring payments are collected on the same day of the month as your first payment. If the initial recurring payment falls on the 31st, we will eventually adjust the billing cycle to the 1st of the month. If the initial recurring payment falls on the 29th or 30th, we will adjust the billing cycle to the 1st of the month on the following February.
      %p An upgrade from the free plan to any paying plan will end your free use. You will be billed for your first month three (3) days after upgrading.
      %p The Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.
      %p All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties, excluding only Canadian (federal or provincial) taxes.
      %p For any upgrade or downgrade in plan level, your credit card that you provided will automatically be charged the new rate on your next billing cycle.
      %p Downgrading your Service may cause the loss of Content, features, or capacity of your Account. Provide Chat does not accept any liability for such loss.


      %h2 Cancellation and Termination
      %p You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the My Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no questions asked cancellation link.
      %p All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.
      %p If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.
      %p Provide Chat, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Provide Chat service, for any reason at any time, with or without cause, and with or without notice. Provide Chat shall have no liability to you or any third party because of such termination. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Provide Chat reserves the right to refuse service to anyone for any reason at any time.
      %p Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Provide Chat customer, employee, member, or officer will result in immediate account termination.


      %h2 Modifications to the Service and Prices

      %p Provide Chat reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.
      %p Prices of all Services, including but not limited to monthly subscription plan fees to the Service, are subject to change upon 30 days notice from us. Such notice may be provided at any time by posting the changes to the Provide Chat Site (www.providechat.com) or the Service itself.
      %p Provide Chat shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.


      %h2 Copyright and Content Ownership
      %p We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours.
      %p Provide Chat does not pre-screen Content, but Provide Chat and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.
      %p The look and feel of the Service is copyright © 2014 Provide Chat. You may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements without express written permission from Provide Chat.


      %h2 Restrictions and Responsibility

      %p This is an Agreement for the Service, and you are not granted a license to any software by this Agreement. You will not, directly or indirectly: reverse engineer, decompile, disassemble, or otherwise attempt to discover the source code, object code, or underlying structure, ideas, or algorithms of, or found at or through the Service or any software, documentation, or data related to the Service ("Software"); remove any proprietary notices or labels from the Service or any Software, modify, translate, or create derivative works based on the Service or any Software; or copy, distribute, pledge, assign, or otherwise transfer or encumber rights to the Service or any Software.
      %p The Service may only be used for lawful purposes. Transmission or solicitation of any material that violates Canadian federal, provincial or other laws that may apply in your local area is prohibited. This may include material that is obscene, threatening, harassing, libelous, or in any way a violation of intellectual property laws or a third party's intellectual property rights.
      %p In using the varied features of the Service, you may provide information (such as name, contact information, or other registration information) to Provide Chat. Provide Chat may use this information and any technical information about your use of the Service to tailor its presentations to you, facilitate your movement through the Service, or communicate separately with you.


      %h2 General Conditions

      %p Your use of the Service is at your sole risk. The service is provided on an "as is" and "as available" basis.
      %p Technical support is only provided to paying account holders and is only available via live chat and email.
      %p You understand that Provide Chat uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
      %p You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Provide Chat, or any other Provide Chat service.
      %p You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Provide Chat.
      %p We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Service.
      %p Anything you transmit to us by electronic mail or otherwise or post becomes the property of Provide Chat and may be used for any purpose, including, but not limited to, reproduction, disclosure, transmission, publication, advertising, broadcast and posting. Provide Chat is free to use any ideas contained in any communication you send to us for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing products using such information.
      %p You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
      %p You must not upload, post, host, or transmit unsolicited email, SMSs, or "spam" messages.
      %p You must not transmit any worms or viruses or any code of a destructive nature.
      %p If your bandwidth usage exceeds 300 MB/month, or significantly exceeds the average bandwidth usage (as determined solely by Provide Chat) of other Provide Chat customers, we reserve the right to immediately disable your account or throttle your file hosting until you can reduce your bandwidth consumption.
      %p Provide Chat does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
      %p You expressly understand and agree that Provide Chat shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Provide Chat has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
      %p The failure of Provide Chat to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Provide Chat and govern your use of the Service, superceding any prior agreements between you and Provide Chat (including, but not limited to, any prior versions of the Terms of Service).
      %p Questions about the Terms of Service should be sent to support at providechat dot com.


      %h2 NO LIABILITY

      %p YOUR USE OF THIS SERVICE AND ANY SUPPORT ACQUIRED FROM PROVIDE CHAT IS AT YOUR SOLE RISK. THIS SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. PROVIDE CHAT EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT WITH RESPECT TO THIS SERVICE.

      %p YOU EXPRESSLY UNDERSTAND AND AGREE THAT PROVIDE CHAT IS NOT LIABLE FOR ANY, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF REVENUES, PROFITS, GOODWILL, USE, DATA, FAILURE TO REALIZE EXPECTED SAVINGS, OR OTHER INTANGIBLE LOSSES ARISING FROM YOUR USE OF THIS SERVICE, EVEN IF PROVIDE CHAT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.


      %h2 Applicable Law

      %p You agree that the laws of British Columbia and Canada apply to any issue that may arise between Provide Chat and you regarding the Service, and you agree to resolve such dispute in the courts of British Columbia. You agree that regardless of any statute or law to the contrary, any claim or cause of action against Provide Chat must be filed within one (1) year after such claim or cause of action arose or it will be forever barred.
