<div id="chat-body-<%= chat_id %>" class="chat-body custom-scroll">
	<ul id="chat-messages-<%= chat_id %>">

	</ul>
</div>

<div class="chat-footer">
	<div class="textarea-div">
		<div class="typearea">
			<textarea placeholder="Write a reply..." id="chat-message-content-<%= chat_id %>" class="custom-scroll"></textarea>
		</div>
	</div>

	<span class="textarea-controls">
		<button class="btn btn-sm btn-primary pull-right" id="send-message-<%= chat_id %>">
			Send Message
		</button> 
    <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;"> <label class="checkbox pull-right">
		<input type="checkbox" name="subscription" id="subscription">
		<i></i>Press <strong> ENTER </strong> to send </label> </span> <a href="javascript:void(0);" class="pull-left"></a>
  </span>

</div>
