.well.no-padding
  = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "smart-form client-form", id: "smart-form-register"}) do |f|
    %header
      Start using Provide Chat for free!
    %fieldset
      %legend 5 minute setup, no credit card required to begin your 14 day trial
      = devise_error_messages!
      %section
        %label.input
          = f.email_field :email, autofocus: true, :placeholder => "Email address", class: "form-input"
      %section
        By signing up you agree to the
        %a{"data-target": "#termsModal", "data-toggle": "modal", href: "/terms-of-service"} terms and conditions
        and
        %a{"data-target": "#privacyModal", "data-toggle": "modal", href: "/privacy-policy"} privacy policy
      %button.btn.btn-primary.btn-lg{:type => "submit"}
        Start my free trial
    %footer
      Already have a Provide Chat Account?
      = link_to "Sign in >>", new_session_path(resource_name)

:javascript
  function initialize_qtip() {
    $('.email-field').qtip(
      no_icon_style('Please enter email address', '.name-field')
    );

    $('.password-field').qtip(
      no_icon_style('Enter your password', '.password-field')
    );
  }

  $( document ).ready(function() {
    initialize_qtip();
  });

  $(window).bind('page:change', function() {
    initialize_qtip();
  });