= render 'layouts/page_header', :title => 'Contact Support', :icon => 'fa-smile-o'

.col-sm-12.col-md-8.col-lg-8
  #contact-support.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
     widget_fullscreenbutton: "false", widget_colorbutton: "false",
     widget_deletebutton: "false", widget_togglebutton: "false"}}
    %header
      %span.widget-icon
        %i.fa.fa-smile-o
      %h2 Contact Support
    %div
      .jarviswidget-editbox

      .widget-body.no-padding
        .alert.alert-info.no-margin.fade.in
          %div{style: "float: left;"}
            %i.fa-fw.fa.fa-info
          %div{style: "margin-left: 24px;"}
            We strive to provide you with fast and friendly service for any questions you may have.
            Please fill out this form and we'll get back to you within the next business day.

        %br
        = render 'form'
