= render 'layouts/page_header', :title => 'Departments', :icon => 'fa-sitemap', :subpage => 'Edit Department'

%article.col-sm-12.col-md-8.col-lg-6
  #wid-id-0.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
      widget_fullscreenbutton: "false", widget_colorbutton: "false",
      widget_deletebutton: "false", widget_togglebutton: "false"}}
    %header
      %span.widget-icon
        %i.fa.fa-sitemap
      %h2 Edit Department
    %div
      .widget-body
        = render 'form'
