= render 'layouts/page_header', :title => 'Departments', :icon => 'fa-sitemap', :subpage => 'New Department'
.row
  %article.col-sm-12.col-md-8.col-lg-6
    #wid-id-0.jarviswidget.jarviswidget-color-darken
      %header
        %span.widget-icon
          %i.fa.fa-sitemap
        %h2 New Department
      %div
        .jarviswidget-editbox
        .widget-body
          = render 'form'