%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th
        Current Availability
  %tbody
    - agents.each do |agent|
      %tr
        %td
          = link_to agent.name, edit_agent_path(agent)
        %td
          - if agent.availability == 'online'
            %span{:style => "color: #228b22;"}
              %strong Online
          - else
            %span{:style => "color: #b22222;"}
              %strong Offline