- if current_agent.availability == 'online'
  %button.btn.dropdown-toggle.btn-xs.btn-success{:id => "agent-status", "data-toggle" => "dropdown"}
    Online
    %i.fa.fa-caret-down
- else
  %button.btn.dropdown-toggle.btn-xs.btn-danger{:id => "agent-status", "data-toggle" => "dropdown"}
    Offline
    %i.fa.fa-caret-down
%ul.dropdown-menu.js-status-update{:role => "menu"}
  %li
    %a{:href => "javascript:void(0);", :data => {:status => 'online'}}
      %i.fa.fa-circle.txt-color-green
      Online
  %li
    %a{:href => "javascript:void(0);", :data => {:status => 'offline'}}
      %i.fa.fa-circle.txt-color-red
      Offline
  %li.divider
  %li
    %a{:href => "javascript:void(0);", :data => {:status => 'signoff'}}
      %i.fa.fa-power-off
      Sign Off


:javascript
  $(document).ready(function() {

    function update_agent_availability(status) {
      $.ajax({
        type: "PUT",
        contentType: "application/json; charset=utf-8",
        url: "/api/agents/#{current_agent.id}",
        dataType: "json",
        data: JSON.stringify({agent: {availability: status}, id: #{current_agent.id}}),
      });
    }

    $(".js-status-update a").click(function() {
      var selText = $(this).text();
      var status = $(this).data('status');
      var $this = $(this);
      $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
      $this.parents('.dropdown-menu').find('li').removeClass('active');
      if (status === 'online') {
        $('#agent-status').removeClass('btn-danger');
        $('#agent-status').addClass('btn-success');
        $('#agent-status').html('Online <i class="fa fa-caret-down"></i>');
        update_agent_availability('online');
      } else if (status === 'offline') {
        $('#agent-status').removeClass('btn-success');
        $('#agent-status').addClass('btn-danger');
        $('#agent-status').html('Offline <i class="fa fa-caret-down"></i>');
        update_agent_availability('offline');
      } else if (status === 'signoff') {
        alert("Are you sure?");
      }
      $this.parent().addClass('active');
    });
  });