
<!-- CHAT BODY -->
<div id="chat-body" class="chat-body custom-scroll">
	<ul id="chat-messages">
		<li class="message">
			<div class="message-text">
				<time>
					2014-01-13
				</time> <a href="javascript:void(0);" class="username">Sadi Orlaf</a> Hey did you meet the new board of director? He's a bit of an arse if you ask me...anyway here is the report you requested. I am off to launch with Lisa and Andrew, you wanna join?
		</li>
		<li class="message">
			<div class="message-text">
				<time>
					2014-01-13
				</time> <a href="javascript:void(0);" class="username">John Doe</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i>
			</div>
		</li>
	</ul>

</div>

<!-- CHAT FOOTER -->
<div class="chat-footer">

	<!-- CHAT TEXTAREA -->
	<div class="textarea-div">

		<div class="typearea">
			<textarea placeholder="Write a reply..." id="textarea-expand" class="custom-scroll"></textarea>
		</div>

	</div>

	<!-- CHAT REPLY/SEND -->
	<span class="textarea-controls">
		<button class="btn btn-sm btn-primary pull-right">
			Send Message
		</button> <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;"> <label class="checkbox pull-right">
				<input type="checkbox" name="subscription" id="subscription">
				<i></i>Press <strong> ENTER </strong> to send </label> </span> <a href="javascript:void(0);" class="pull-left"></a> </span>

</div>
