<!-- CHAT CONTAINER -->
<div id="chat-container">
	<span class="chat-list-open-close"><i class="fa fa-user"></i><b>!</b></span>


	<div class="chat-list-footer">

		<div class="control-group">

			<form class="smart-form">

				<section>
					<label class="input">
						<input type="text" id="filter-chat-list" placeholder="Filter">
					</label>
				</section>

			</form>

		</div>

	</div>

</div>

<!-- CHAT BODY -->
<div id="chat-body" class="chat-body custom-scroll">
	<ul>
		<li class="message">
			<div class="message-text">
				<time>
					2014-01-13
				</time> <a href="javascript:void(0);" class="username">Sadi Orlaf</a> Hey did you meet the new board of director? He's a bit of an arse if you ask me...anyway here is the report you requested. I am off to launch with Lisa and Andrew, you wanna join?
				<p class="chat-file row">
					<b class="pull-left col-sm-6"> <!--<i class="fa fa-spinner fa-spin"></i>--> <i class="fa fa-file"></i> report-2013-demographic-report-annual-earnings.xls </b>
					<span class="col-sm-6 pull-right"> <a href="javascript:void(0);" class="btn btn-xs btn-default">cancel</a> <a href="javascript:void(0);" class="btn btn-xs btn-success">save</a> </span>
				</p>
				<p class="chat-file row">
					<b class="pull-left col-sm-6"> <i class="fa fa-ok txt-color-green"></i> tobacco-report-2012.doc </b>
					<span class="col-sm-6 pull-right"> <a href="javascript:void(0);" class="btn btn-xs btn-primary">open</a> </span>
				</p> </div>
		</li>
		<li class="message">
			<div class="message-text">
				<time>
					2014-01-13
				</time> <a href="javascript:void(0);" class="username">John Doe</a> Haha! Yeah I know what you mean. Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> 
			</div>
		</li>
	</ul>

</div>

<!-- CHAT FOOTER -->
<div class="chat-footer">

	<!-- CHAT TEXTAREA -->
	<div class="textarea-div">

		<div class="typearea">
			<textarea placeholder="Write a reply..." id="textarea-expand" class="custom-scroll"></textarea>
		</div>

	</div>

	<!-- CHAT REPLY/SEND -->
	<span class="textarea-controls">
		<button class="btn btn-sm btn-primary pull-right">
			Reply
		</button> <span class="pull-right smart-form" style="margin-top: 3px; margin-right: 10px;"> <label class="checkbox pull-right">
				<input type="checkbox" name="subscription" id="subscription">
				<i></i>Press <strong> ENTER </strong> to send </label> </span> <a href="javascript:void(0);" class="pull-left"><i class="fa fa-camera fa-fw fa-lg"></i></a> </span>

</div>
