- if @websites.count == 0
  %table.table.table-bordered
    %tr
      %td{:colspan => "3"}
        You haven't added any websites yet. #{link_to "Add Website", new_website_path, { title: "Add Website", class: "btn btn-primary btn-sm" }}
- else
  %table.table.table-bordered{style: "table-layout:fixed;"}
    %thead
      %tr
        %th{style: "width: 40%;"}
          Name
        %th{style: "width: 40%;"}
          URL
        %th{style: "width: 20%;"}
          Widget
    %tbody
      - @websites.each do |website|
        %tr
          %td{style: "width: 40%; overflow: hidden;"}
            = website.name
          %td{style: "width: 40%; overflow: hidden;"}
            = website.url
          %td{style: "width: 20%;"}
            = website.widget_status
