= render 'layouts/page_header', :title => 'Chat Widget', :icon => 'fa-toggle-up', :subpage => 'Website Code'

.col-sm-12.col-md-8.col-lg-8
  #website-code.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
     widget_fullscreenbutton: "false", widget_colorbutton: "false",
     widget_deletebutton: "false", widget_togglebutton: "false"}}

    %header
      %span.widget-icon
        %i.fa.fa-code
      %h2 Website Code
    %div
      .widget-body.no-padding
        - if @websites.count > 0
          .alert.alert-info.no-margin.fade.in
            %div{style: "float: left;"}
              %i.fa-fw.fa.fa-info
            %div{style: "margin-left: 24px;"}
              To install the Provide Chat Widget, paste this code (unaltered, in it’s entirety) on every page of your website just before the closing &lt;/body&gt; tag.

          .code-container
            .row
              .col-md-12
                %textarea#widget-code.codetext= render partial: "home/widget_include_code", locals: { organization_id: current_agent.organization_id }

                .pull-right
                  %a.btn.btn-default.btn-sm#copy-code{data: {clipboard_action: "copy", clipboard_target: "#widget-code"}}
                    Copy to clipboard
                    %i.fa.fa-files-o
            %hr
            .row
              .col-md-12
                %a{href: "#", id: "email-code", "data-target": ".send-code-modal", "data-toggle": "modal"}
                  Send these instructions to your webmaster
                .alert.alert-success#success_msg{style: "display: none;"} Email sent successfully
        - else
          .alert.alert-warning.no-margin.fade.in
            %h4.alert-heading No websites configured yet!
            %br
            You have not yet added any websites, please #{link_to "add a website", new_website_path}.

= render partial: "shared/send_email_to_webmaster"

:javascript
  $(document).ready(function () {
    var clipboard = new Clipboard('#copy-code');
  });
