= render 'layouts/page_header', :title => 'Chat Widget', :icon => 'fa-toggle-up', :subpage => 'Website Code'
.col-sm-12.col-md-8.col-lg-8
  #wid-id-0.jarviswidget.jarviswidget-color-darken{"data-widget-colorbutton" => "false", "data-widget-custombutton" => "false", "data-widget-editbutton" => "false"}
    %header
      %span.widget-icon
        %i.fa.fa-code
      %h2 Website Code
    %div
      .widget-body.no-padding
        .alert.alert-info.no-margin.fade.in
          %div{style: "float: left;"}
            %i.fa-fw.fa.fa-info
          %div{style: "margin-left: 24px;"}
            To install the Provide Chat Widget, paste this code (unaltered, in it’s entirety) on every page of your website just before the closing &lt;/body&gt; tag.

        .code-container
          .row
            .col-md-12
              .pull-right
                %a{:href => "#", :id => "select-code"}> (select all)

              %textarea#widget-code.codetext= render :partial => "home/widget_include_code"

          %hr
          .row
            .col-md-12
              %a{:href => "#", :id => "email-code"}Or you can send these instructions to your webmaster

:javascript
  $(document).ready(function () {
    $('#select-code').click(function() {
      $('#widget-code').select();
    });
  });