<%= render 'layouts/page_header', :title => 'Dashboard', :icon => 'fa-home' %>

<div id="content">
  <div class="row">
	  <div class="col-sm-6 col-md-6 col-lg-6">

      <h4>Your Website Status</h4>
      <div id="websiteStatus">
        <%= image_tag "ajax-loader.gif" %>
      </div>
      <script>
      /*
        $("#websiteStatus").load("website-status.php", function(response, status, xhr) {
          if (status == "error") {
            var msg = "Sorry but there was an error loading your website status information";
            //$("#websiteStatus").html(msg + xhr.status + " " + xhr.statusText);
            $("#websiteStatus").html(msg);
          }
        });
      */
      </script>

  		<div class="contentBoxFooter">
  			<a href="#" onclick="loadHTML('settings/general.php', 'content');"><b>General Settings</b></a>
  		</div>

      <br>
      <h4>Latest Blog Entries</h4>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h4>Current Operator Availability</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Operator</th>
            <th>Current Availability</td>
          </tr>
        </thead>
        <% @agents.each do |agent| %>
          <tr>
           <td><a href="#" onclick="#', 'content');"><%= agent.name %></a></td>
           <td>
             <span style='color: #228b22;'><strong>Online</strong></span>
             <span style='color: #b22222;'><strong>Offline</strong></span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td style="background-color: #E5E5E5; border-bottom: 1px solid #BBBBBB;" class="fieldtext">
            <a href="#" onclick="loadHTML('operators.php', 'content');"><b>More Details</b></a>
          </td>
          <td style="background-color: #E5E5E5; border-bottom: 1px solid #BBBBBB;" class="fieldtext" align="right">
             You are currently using 1 of 12 available operators
          </td>
        </tr>
      </table>

      <br />

      <h4>Upgrade Your Account</h4>
      <table border="0" cellpadding="8" cellspacing="0" width="100%" style="border-left: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD;">
        <tr>
          <td class="maintext" style="border-bottom: 1px solid #BBBBBB; background-color: #E5E5E5;" width="40%">
           <b>If you would like to upgrade your account, simply click on one of the links below to upgrade to your
          desired account.</b>
        </td>
       </tr>
        <tr>
          <td class="fieldtext" style="border-bottom: 1px solid #BBBBBB; background-color: #E5E5E5;" width="40%">
            <i>Please Note: Upgrades have a 3-day trial period, no payment is made until after the 3-day trial</i>
         </td>
       </tr>
       <tr>
         <td class="fieldtext" style="border-bottom: 1px solid #BBBBBB;" align="center">
           <br />
         </td>
       </tr>
      </table>
    </div>
  </div>
</div>