<div id="waiting-for-agent">

  <div class="chat-widget-container">

    <div class="agent-area">
      <div style="float: left;">
        <img src="http://widget.providechat.com/images/silhouette.png" height="60" width="60" class="agent-image">
      </div>
      <div style="float: left; margin-left: 10px;">
        <p style="font-weight: bold; font-size: 16px; margin-top: 0px;">Connecting...</p>
      </div>
      <% if chat_widget.logo? && chat_widget.display_logo? %>
        <div id="logo-image-container">
          <img src="http://widget.providechat.com/images/silhouette.png">
        </div>
      <% end %>
    </div>

    <div style="text-align: center; margin-top: 80px;">
      Please wait while we connect you with an agent <br><br><br>
      <img src="http://widget.providechat.com/images/loading.gif" height="48" width="48" style="margin: auto 0;">
    </div>
  </div>
</div>

<div id="in-chat" style="display: none;">

  <div class="chat-widget-container" style="height: 330px;">

    <div class="agent-area">
      <div style="float: left;">
        <img src="http://widget.providechat.com/images/silhouette.png" height="60" width="60" style="padding: 1px; border: 1px solid #999999;" id="agent-image">
      </div>
      <div style="float: left; margin-left: 10px;">
        <div id="agent-name"></div>
        <div id="typing-notification"></div>
      </div>
      <% if chat_widget.logo? && chat_widget.display_logo? %>
        <div id="logo-image-container">
          <img src="http://widget.providechat.com/images/silhouette.png">
        </div>
      <% end %>
    </div>

    <div style="background-color: #3B3B3B; width: 392px; height: 30px; position: absolute; right: 4px; border-top: 1px solid #000000; border-bottom: 1px solid #000000; display:none;">
      <input type="text" style="width: 200px; font-family: Lucida Sans Unicode, verdana, helvetica; font-size: 12px; border: 1px solid #000000; border-radius: 3px; margin-left: 5px; height: 22px; padding: 2px; margin-top: 4px;" value="">
    </div>

    <div id="chat-message-area"></div>

  </div>

  <div class="send-message">
    <textarea id="chat-message-box" placeholder="Your message..."></textarea>
  </div>
</div>
