= render 'layouts/page_header', :title => 'Chat Transcripts', :icon => 'fa-file-text-o'
.row
  %article.col-sm-10.col-md-8.col-lg-6
    .alert.alert-info.no-margin.fade.in
      %div{style: "float: left;"}
        %i.fa-fw.fa.fa-info
      %div{style: "margin-left: 24px;"}
        This is where you can search for previous chats. You can review chats to ensure that you are giving your customers the proper service they derserve, or you can use a Ticket ID provided by your visitor to review their most recent chat.

    %br
    #wid-id-0.jarviswidget.jarviswidget-color-blueDark
      %header
        %span.widget-icon
          %i.fa.fa-search
        %h2 Search Chat Transcripts
      %div
        .widget-body
          = render 'search_form'

= render partial: 'layouts/flash_messages', flash: flash

.row
  .col-sm-12.col-md-12.col-lg-12
    %table.table.table-bordered
      %thead
        %tr
          %th Ticket ID
          %th Agent
          %th Website
          %th Visitor Name
          %th Date
          %th Department
          %th
      %tbody
        = render(@chats) || render('no_chats')
