- if current_agent.access_level == 'agent'
  = render partial: 'layouts/flash_messages', flash: flash
-else
  = render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user', :subpage => 'Edit Agent'


%article.col-sm-12.col-md-8.col-lg-6
  #wid-id-0.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
      widget_fullscreenbutton: "false", widget_colorbutton: "false",
      widget_deletebutton: "false", widget_togglebutton: "false"}}
    %header
      %span.widget-icon
        %i.fa.fa-user
      %h2 Edit Agent
    %div
      .widget-body
        = render 'form'
