<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-user"></i> Agents <span>> Edit Agent </span></h1>
	</div>
	<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
  </div>
</div>

<%= render 'form' %>


<%= link_to 'Show', @agent %> |
<%= link_to 'Back', agents_path %>
