<%= render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user', :subpage => 'New Agent' %>

<div class="col-sm-12 col-md-8 col-lg-6">
  <div id="wid-id-0" class="jarviswidget jarviswidget-color-darken" data-widget_editbutton="false" data-widget_fullscreenbutton="false" data-widget_colorbutton="false"
      data-widget_deletebutton="false" data-widget_togglebutton: "false">
    <header>
      <span class="widget-icon">
        <i class="fa fa-user" />
      </span>
      <h2>Add Agent</h2>
    </header>
    <div class="jarviswidget-editbox">

      <div class="widget-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
