
<%= render 'layouts/page_header', :title => 'Agents', :icon => 'fa-user', :subpage => 'New Agent' %>

<div class="row">

  <div class="col-sm-12 col-md-8 col-lg-6">

    <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
    	<header>
    		<span class="widget-icon"> <i class="fa fa-user"></i> </span>
    		<h2>Add Agent</h2>
    	</header>

			<div>

				<div class="jarviswidget-editbox">
					<!-- This area used as dropdown edit box -->

				</div>

				<div class="widget-body">

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
