.row
  .col-md-12.col-lg-8
    %h1.page-title.txt-color-blueDark
      Chat Widget
      &nbsp;/&nbsp;
      Invitations

= render partial: 'layouts/flash_messages', flash: flash

.row
  .col-sm-12.col-md-8.col-lg-8
    .alert.alert-warning.alert-block
      %h4.alert-heading No websites configured yet!
      %br
      You have not yet added any websites, please #{link_to "add a website", new_website_path}
      and then you'll be able to customize the invitations.
