.well.well-lg

  %h1 Oops! Something went wrong...

  %h2 Please try again and don't hesitate to contact support if the problem persists.

  %h2
    = link_to "Back to Home", root_path,  class: "btn btn-primary btn-lg"