.well.well-lg

  %h1 We're sorry, something went wrong.

  %h2 If the problem presists please contact us at support@providechat.com

  - if current_agent
    %h2
      = link_to "Back to Dashboard", dashboard_path,  class: "btn btn-primary btn-lg"
  - else
    %h2
      = link_to "Back to Home", root_path,  class: "btn btn-primary btn-lg"