.well.well-lg

  %h1 Oops! We couldn't find that page...

  - if current_agent
    %h2
      = link_to "Back to Dashboard", dashboard_path,  class: "btn btn-primary btn-lg"
  - else
    %h2
      = link_to "Back to Home", root_path,  class: "btn btn-primary btn-lg"

