Hello Webmaster,

You are receiving this email as <%= @agent_name %> has requested your assistance
with installing the Provide Chat widget code on your website.

Please copy and paste the following code (unaltered, in it’s entirety) on 
every page of your website just before the closing </body> tag:

--

<%=raw @widget_code %>
--

Cheers,
-- Luke
