= render 'layouts/page_header', :title => 'Modify your Provide Chat Subscription', :icon => 'fa-credit-card'

.row
  .col-xs-12

    #modify-subscription-widget.jarviswidget{:role => "widget"}
      %header{:role => "heading"}
        %h2
          %span.widget-icon
            %i.fa.fa-credit-card
          %strong Modify Your Subscription
        %ul#widget-tab-1.nav.nav-tabs.pull-right
          %li.active
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#hr1"}
              Modify Plan
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr2"}
              Update Credit Card
          %li
            %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hr3"}
              Cancel Subscription

        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .widget-body.no-padding            
          .tab-content.padding-10
            #hr1.tab-pane.fade.active.in
              = render "modify_plan"
            #hr2.tab-pane.fade
              = render "update_credit_card"
            #hr3.tab-pane.fade
              = render "cancel_subscription"



