= render 'layouts/page_header', :title => 'Documentation', :icon => 'fa-info-circle', :subpage => 'Using the Chat Monitor'

.row
  .col-sm-12.col-md-12.col-lg-12
    #wid-id-0.jarviswidget.jarviswidget-color-darken
      %header
        %span.widget-icon
          %i.fa.fa-info-circle
        %h2 Using the Chat Monitor
      %div
        .widget-body.no-padding

          .form-container
            .col-sm-12
            
              %h4 1. Set your status to online.
              %br

              %div{style: "margin-left: 20px;"}
                %p Once you set your status to online, visitors to the website will be able to contact you, and you can begin accepting chats.

              %br
              %h4 2. Visitor Lists
              %br

              %div{style: "margin-left: 20px;"}
                %p Under "Current Activity" you will see three lists: Visitors, Waiting to Chat, and Current Chats.

                %p <strong>Visitors:</strong> These are the visitors currently on your website. Click on any visitor to invite them to chat with you.
                %p <strong>Waiting to Chat:</strong> Click "Accept" to begin chatting with them. Do not leave your visitors waiting too long or they will be redirected to a form informing them that you are unavailable. They will then be given the option to send you an email instead.

                %p <strong>Current Chats:</strong> This is a list of visitors which every agent is currently chatting with. You can click on any visitor in this list to view their current chat. You can even join in with another agent's chat, or take over for them.

              %br
              %h4 3. Chat Window
              %br

              %div{style: "margin-left: 20px;"}
                %p Here you will find all of the information related to the visitor you are currently chatting with. On the left hand side is your current chat correspondence, and on the right is all of your visitor's information such as their email address, their initial question, or where they are located.

                %p To chat with your visitor simply input your message into the "Write a reply..." box and click Send Message.

                %p You can end a chat with a visitor by clicking the "End Chat" button.

              %br
              %h4 4. Visitor Tabs
              %br

              %div{style: "margin-left: 20px;"}
                %p Use the tabs to toggle between the different visitors you are chatting with.


