= render 'layouts/page_header', :title => 'Documentation', :icon => 'fa-info-circle', :subpage => 'Getting Started with Provide Chat'

.row
  %article.col-sm-11.col-md-10.col-lg-8
    .alert.alert-info.no-margin.fade.in
      %div{style: "float: left;"}
        %i.fa-fw.fa.fa-info
      %div{style: "margin-left: 24px;"}
        Provide Chat makes it easy for you to chat live with your visitors. To get started with Provide Chat simply follow these steps and you'll be chatting in no time.

%br

%p <strong>1. Add Your Website:</strong> The first thing you'll want to do is add your website to Provide Chat. 

%p Click on Settings -> Websites and click New Website in the top right. 

%p Enter in your website's name, URL (e.g. http://www.yourwebsite.com/), and your main contact email.

%p Once done, click Add Website.

%p <i>Note: One of the most powerful features for Provide Chat is that it can used on an unlimited number of websites and each website can have its own agents, departments, and chat widget design. In other words, many of the features used in Provide Chat can be customized for each website. Click here to read more about Provide Chat's Multiple Websites feature.</i>

%br

%p <strong>2. Copy the Provide Chat Code into your website:</strong> Click on Chat Widget > Website Code. Now click in the text box that has the JavaScript code. Don't worry if you don't understand it, you will not have to edit any of this code. Next, click select all, and Copy the code (Ctrl + C).

%p To install the Provide Chat widget, paste this code (unaltered, in it’s entirety) on every page of your website just before the closing </body> tag.

%p If you're not sure how to do this, or not in charge of updating the HTML on your website, you may want to forward this code to your webmaster or web developer.

%br

%p <strong>3. Add Your Departments:</strong> If you plan to have different departments (sales, support, orders, etc), you'll want to add them here. 

%p Click on Departments -> New Department to add a new department. Next, enter in the details such as the department's name (e.g. Sales), email (e.g. sales@yourwebsite.com) and assign it to the websites to which this department belongs.

%br

%p <strong>4. Update your Agent's Information:</strong> Now go to Agents, and for your agent click Edit.

%p Input all of the appropriate information for your agent. Input your name, display name, change your email address and password if necessary, upload a photo of yourself, and assign yourself to the website you created in Step 1.

%p You're now ready to chat live with your website visitors. You'll now want to click on the Chat Monitor to begin chatting with your site visitors. You can read documentation on how to use the chat monitor here. 