<div class="well no-padding">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), :html => {class: 'smart-form client-form', id: 'login-form'}) do |f| %>
    <header>
      Forgot your password?
    </header>
    <fieldset>
      <%= devise_error_messages! %>
      <section>
        <label>Enter the email address for your Provide Chat account</label>
        <label class="input">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </label>
      </section>
    </fieldset>
    <footer>
      <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>
    </footer>
  <% end %>
</div>
