= render 'layouts/page_header', :title => 'Contact Support', :icon => 'fa-smile-o'

.row
  .col-sm-12.col-md-8.col-lg-6
    #wid-id-0.jarviswidget.jarviswidget-color-darken
      %header
        %span.widget-icon
          %i.fa.fa-smile-o
        %h2 Contact Support
      %div
        .jarviswidget-editbox

        .widget-body

          %h1 Thank you for your message.

          %p We'll get back to you as soon as possible.