/**
  * Chat Monitor Custom Styles 
**/

/* Person / Visitor Widget Styles */

.people-container {
  height: 440px;
}

.people-header {
  padding: 6px 0px 6px 6px;
  font-weight: bold;
  font-size: 1.1em;
}

#current-chat-container {
  height: 144px;
  overflow: auto;
  border-bottom: 1px #dddddd solid;
  padding: 0px 6px;
}

#waiting-to-chat-container {
  height: 84px;
  overflow: auto;
  border-bottom: 1px #dddddd solid;
  padding: 0px 6px;
}

#visitor-container {
  height: 116px;
  overflow: auto;
  padding: 0px 6px;
}

.chat-container-status {
  font-color: #555555;
  font-style: oblique;
  padding-left: 8px;
  display: none;
}

.visitor-snapshot {
  display: block;
  height: 32px;
  padding: 5px 5px;
  border-bottom: 1px dotted #eeeeee;
}

.visitor-snapshot:hover {
  background-color: #eeeeee;
}

.visitor-image {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 6px;
}

.visitor-name {
  color: #555555;
  font-weight: bold;
}

.visitor-location {
  color: #333333;
}

.visitor-detail {
  color: #999999;
  font-size: .8em;
}

/* Tab Styles */

.tab-pane .jarviswidget {
  margin-bottom: 0px;
}

ul.nav-tabs {
  margin-left: 10px;
}

.nav-tabs li.active {
  border-top: #ffffff 1px solid;
  margin-top: -3px;
  z-index: 100;
}

/* Chat Box */

.chat-box {
  background: #FAFAFA;
  display: block;
  height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #eee;
  border-bottom: none;
}
.chat-box ul {
  position: relative;
  height: 280px;
  margin: 0;
  padding: 0px;
}
.chat-box li.announcement {
  display: block;
  position: relative;
  padding: 0px 12px 10px 12px;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px dotted #ccc;
}
.chat-box li.message {
  display: block;
  position: relative;
  margin: 14px 20px 0px;
  padding-bottom: 8px;
}
.chat-box li:first-child {
  margin-top: 10px;
}
.chat-box li.message .message-text {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  //margin-left: 65px;
  line-height: normal;
}
.chat-box li.message .message-text time {
  position: absolute;
  top: 1px;
  right: 0px;
  font-size: 10px;
  line-height: 10px;
  color: #AFAFAF;
}
.chat-box li.message .message-text .chat-file:nth-child(3) {
  margin-top: 15px;
}
.chat-box li.message .message-text a.username {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  vertical-align: top;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -1px;
  text-decoration: none !important;
}

.textarea-div {
  margin: 0px;
  border: 1px solid #dedede;
}

.typearea {
  border-bottom: none;
  padding: 5px;
}

.typearea textarea {
  width: 100%;
}
.textarea-controls {
  //background-color: rgba(248, 248, 248, 0.9);
  border: none;
  height: 40px;
  padding: 4px;
}

.chat-box-footer {
  //background: rgba(248, 248, 248, 0.9);
  border: 1px solid #eee;
  border-top: none;
  padding: 0px 0px 0px 0px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Visitor Detail */

.visitor-info-container {
  height: 410px;
  overflow: auto;
}

.visitor-info-box {
  padding-left: 10px;
}