/**
  * Chat Monitor Custom Styles 
**/

/* Person / Visitor Widget Styles */

.people-container {
  height: 440px;
}

.people-header {
  padding: 6px 0px 6px 6px;
  font-weight: bold;
  font-size: 1.1em;
}

#current-chat-container {
  height: 144px;
  overflow: auto;
  border-bottom: 1px #dddddd solid;
  padding: 0px 6px;
}

#waiting-to-chat-container {
  height: 84px;
  overflow: auto;
  border-bottom: 1px #dddddd solid;
  padding: 0px 6px;
}

#visitor-container {
  height: 116px;
  overflow: auto;
  padding: 0px 6px;
}

.chat-container-status {
  font-color: #555555;
  font-style: oblique;
  padding-left: 8px;
  display: none;
}

.visitor-snapshot {
  display: block;
  height: 32px;
  padding: 5px 5px;
  border-bottom: 1px dotted #eeeeee;
}

.visitor-snapshot:hover {
  background-color: #eeeeee;
}

.visitor-image {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 6px;
}

.visitor-name {
  color: #555555;
  font-weight: bold;
}

.visitor-location {
  color: #333333;
}

.visitor-detail {
  color: #999999;
  font-size: .7em;
}

/* Big Box Notification Styles */

.bigBox {
  height: 70px;
}

#divSmallBoxes {
  display: none;
}

#divMiniIcons {
  display: none;
}

/* Tab Styles */

.tab-pane .jarviswidget {
  margin-bottom: 0px;
}

ul.nav-tabs {
  margin-left: 10px;
}

ul.nav-tabs li:not(.active) {
  border-left: #cccccc 1px solid;
  border-right: #cccccc 1px solid;
  border-bottom: #dddddd 2px solid;
  background-color: #efefef;
}
.nav-tabs li.active {
  margin-top: -2px;
  margin-right: 0px;
  z-index: 100;
}
.nav-tabs li.active a {
  padding-bottom: 11px;
}

.nav-tabs li a {
  margin-right: 0px;
}
ul.nav-tabs li a:hover {
  background-color: #ffffff;
}

.no-chats {
  height: 414px;
}

/* Chat Messages */

.chat-messages {
  background: #FAFAFA;
  display: block;
  height: 298px;
  width: 100%;
  overflow-y: auto;
  //overflow-x: hidden;
  padding: 0px;
  /*
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  */
  border: 1px solid #eee;
  border-bottom: none;
}
.chat-messages .announcement {
  display: block;
  position: relative;
  color: #555555;
  padding: 12px;
  font-size: 1.1em;
  width: 100%;
  border-bottom: 1px dotted #ccc;
  margin: 0px;
}
.chat-messages .message {
  display: block;
  position: relative;
  margin: 14px 20px 0px;
  padding-bottom: 8px;
}
/*
.chat-messages li:first-child {
  margin-top: 10px;
}
*/
.chat-messages .message .message-text {
  display: block;
  position: relative;
  width: 100%;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  //margin-left: 65px;
  line-height: normal;
}
.chat-messages .message .message-text time {
  position: absolute;
  top: 1px;
  right: 0px;
  font-size: 10px;
  line-height: 10px;
  color: #AFAFAF;
}

.chat-messages .message .message-text a.username {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  vertical-align: top;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: -1px;
  text-decoration: none !important;
}

.textarea-div {
  margin: 0px;
  border: 1px solid #dedede;
}

.typearea {
  border-bottom: none;
  padding: 5px;
  height: 61px;
}

.typearea textarea {
  width: 100%;
  min-height: 46px;
}
.textarea-controls {
  //background-color: rgba(248, 248, 248, 0.9);
  border: none;
  height: 40px;
  padding: 6px 0px 0px 0px;
}

.chat-messages-footer {
  //background: rgba(248, 248, 248, 0.9);
  border: 1px solid #eee;
  padding: 6px;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Visitor Detail */

.visitor-info-container {
  height: 410px;
  overflow: auto;
}

.visitor-info-box {
  padding-left: 10px;
}