.page-header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
}

.logo-header {
  display: block;
  height: 54px;
  position: relative;
  margin: 0;
  padding: 0;
  background-image:none;
  background-color:transparent;
}

#logo-group {
  margin-left: auto;
  margin-right: auto;
  width: 113px;
}

#logo {
  width: 113px;
  margin: 10px 10px 10px 10px;
}

#header {
  border-bottom: 1px #dddddd solid;
}

#extr-page-header-space {
  height: 40px;
  padding-top: 5px;
  line-height: 40px;
  
  .hidden-mobile {
    height: 36px;
  }
}

#agent-profile {
  display: none;
}

.login-info .btn-group {
  padding-top: 6px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

.table-bordered tbody tr td {
  vertical-align: middle;
  float: none;
}

.jarviswidget-color-blueDark > header > .jarviswidget-ctrls a, .jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
  color: #333333 !important;
}

.select2 {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}


.color-picker-text {
  padding: 6px 12px;
}

.color-picker-icon {
  margin-left: 5px;
  margin-top: -4px;
  padding: 0;
  width: 32px;
  height: 32px;
}

.widget-preview-container {
  width: 390px; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
}