/**
 * Custom Provide Chat Styles
**/

.page-header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
}

.logo-header {
  display: block;
  height: 54px;
  position: relative;
  margin: 0;
  padding: 0;
  background-image:none;
  background-color:transparent;
}

#logo-group {
  margin-left: auto;
  margin-right: auto;
  width: 122px;
}

#logo {
  width: 134px;
  height: 30px;
  margin: 10px 0px 0px 10px;
  padding: 0;
}

#logo img {
  width: 114px;
  height: 30px;
}

#header {
  border-bottom: 1px #dddddd solid;
}

#extr-page-header-space {
  height: 40px;
  padding-top: 5px;
  line-height: 40px;
  
  .hidden-mobile {
    height: 36px;
  }
}

#agent-profile {
  display: none;
}

.login-info .btn-group {
  padding-top: 6px;
}

.login-info img {
  background: #ffffff;
}

/* Dashboard */
.dashboard-icon {
  margin-bottom: 10px; 
  height: 64px;
  width: 64px;
}

/* Form Tweaks */

.help-block {
  font-size: 80%;
}

/* disable the input-group-addon changing it's background colour on focus */
input[type="text"]:focus + .input-group-addon {
  border-color: #0091d9;
  background-color: #eeeeee;
  color: #555555;
}

.color-picker-text {
  padding: 6px 12px;
  height: 32px;
  font-size: 13px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  border: 1px solid #cccccc;
  box-shadow: none;
}

.color-picker-text:focus {
  border-color: 1px solid #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.color-picker-icon {
  height: 32px;
  width: 32px;
}

.color-picker-icon img {
  height: 32px;
  width: 32px;
  position: relative;
  top: -2px;
}

/* SmartAdmin Tweaks */

.jarviswidget {
  .widget-body.no-padding {
    min-height: 40px;
  }
}

/* Form tweaks for Firefox */

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin-top:-2px;
  margin-bottom: -2px; 
}

.form-control.file-form-control {
  height: auto;
}

/**
  * Styling for tables (agent & department listings, etc)
**/

.table-bordered tbody tr td {
  vertical-align: middle;
  float: none;
}

.jarviswidget-color-blueDark > header > .jarviswidget-ctrls a, .jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
  color: #333333 !important;
}

/* select2 plugin custom styles */

.select2-container .select2-choice {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  background: transparent;
}

.select2-container .select2-choice .select2-arrow {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.page-title .select2-container .select2-choice .select2-chosen {
  font-size: 24px;
}

.select2-hidden-accessible {
  display: none;
}


/* Calendar icon custom styles */

#from-date-icon {
  cursor: pointer;
}

#to-date-icon {
  cursor: pointer;
}

/* Modal style for chat transcripts */

.chat-transcript-modal-body {
  min-height: calc(80vh - 210px) !important;
  max-height: calc(100vh - 210px) !important;
  overflow-y: auto !important;
}

/* Colour picker mods */

.color-picker-text {
  padding: 6px 12px;
}

.color-picker-icon {
  margin-left: 5px;
  margin-top: -4px;
  padding: 0;
  width: 32px;
  height: 32px;
}

.website-select {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
  font-weight: 300;
  background-color: #f1f1f1;
  letter-spacing: -1px;
  font-size: 24px;
  color: #4c4f53 !important;
  height: 38px;
  padding-right: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 6px;
}

.widget-preview-container {
  width: 390px; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
}

/* Widget Code */
.codetext {
  height: 190px;
  width: 100%;
  border:1px solid #d3d3d3;
  border-left: 4px solid #d3d3d3;
  padding: 10px;
}

.code-container {
  margin-top: 10px;
  padding: 14px;
}

/* Form container */

.form-container {
  margin-top: 10px;
}

.form-container fieldset {
  padding: 14px;
}

.form-container fieldset legend {
  margin: 10px 0px;
}

/* Form checkbox mods */

.checkbox-label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.aligned-checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

/* Style the number spinner */

.spinner {
  width: 100px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}

/* Payment form styles */

#payment-form {
  .panel-title {display: inline;font-weight: bold;}
  .checkbox.pull-right { margin: 0; }
  .pl-ziro { padding-left: 0px; }
  
  .form-control.error {
      border-color: red;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
  }
  label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  .payment-errors {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }
  
  #total-price {
    font-size: 140%;
    font-weight: bold;
  }
  #coupon-price {
    font-size: 140%;
    font-weight: bold;
  }
}
