/**
 * Custom Provide Chat Styles
**/

.page-header {
  display: block;
  height: 49px;
  position: relative;
  margin: 0;
  padding: 0 13px;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e2e2e2));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: -o-linear-gradient(top, #f3f3f3, #e2e2e2);
  background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  background-repeat: repeat-x;
}

.logo-header {
  display: block;
  height: 54px;
  position: relative;
  margin: 0;
  padding: 0;
  background-image:none;
  background-color:transparent;
}

#logo-group {
  margin-left: auto;
  margin-right: auto;
  width: 113px;
}

#logo {
  width: 113px;
  margin: 10px 10px 10px 10px;
}

#header {
  border-bottom: 1px #dddddd solid;
}

#extr-page-header-space {
  height: 40px;
  padding-top: 5px;
  line-height: 40px;
  
  .hidden-mobile {
    height: 36px;
  }
}

#agent-profile {
  display: none;
}

.login-info .btn-group {
  padding-top: 6px;
}


/**
  * Styling for tables (agent & department listings, etc)
**/

.table-bordered tbody tr td {
  vertical-align: middle;
  float: none;
}

.jarviswidget-color-blueDark > header > .jarviswidget-ctrls a, .jarviswidget-color-blueDark .nav-tabs li:not(.active) a {
  color: #333333 !important;
}

/* select2 plugin custom styles */

.select2 {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif;
}

.select2-hidden-accessible {
  display: none;
}


/* Calendar icon custom styles */

#from-date-icon {
  cursor: pointer;
}

#to-date-icon {
  cursor: pointer;
}


/* Colour picker mods */

.color-picker-text {
  padding: 6px 12px;
}

.color-picker-icon {
  margin-left: 5px;
  margin-top: -4px;
  padding: 0;
  width: 32px;
  height: 32px;
}

.widget-preview-container {
  width: 390px; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 20px;
}

/* Widget Code */
.codetext {
  height: 160px;
  width: 100%;
  border:1px solid #d3d3d3;
  border-left: 4px solid #d3d3d3;
  padding: 10px;
}

.code-container {
  margin-top: 10px;
  padding: 14px;
}

/* Form container */

.form-container {
  margin-top: 10px;
}

.form-container fieldset {
  padding: 14px;
}

.form-container fieldset legend {
  margin: 10px 0px;
}

/**
  * tooltips for bootstrap form-horizontal
**/

.form-horizontal .select select {
  padding: 5px;
}
.form-horizontal .tooltip {
  position: absolute;
  z-index: 99999;
  left: -9999px;
  padding: 2px 8px 3px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  opacity: 0;
  transition: margin 0.3s, opacity 0.3s;
  -o-transition: margin 0.3s, opacity 0.3s;
  -ms-transition: margin 0.3s, opacity 0.3s;
  -moz-transition: margin 0.3s, opacity 0.3s;
  -webkit-transition: margin 0.3s, opacity 0.3s;
}
.form-horizontal .tooltip:after {
  content: '';
  position: absolute;
}
.form-horizontal .input-group input:focus + .tooltip,
.form-horizontal .textarea textarea:focus + .tooltip {
  opacity: 1;
}
.form-horizontal .tooltip-top-right {
  bottom: 100%;
  margin-bottom: 15px;
}
.form-horizontal .tooltip-top-right:after {
  top: 100%;
  right: 11px;
  border-top: 4px solid rgba(0, 0, 0, 0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.form-horizontal .input-group input:focus + .tooltip-top-right,
.form-horizontal .textarea textarea:focus + .tooltip-top-right {
  right: 0;
  left: auto;
  margin-bottom: 5px;
}
.form-horizontal .tooltip-top-left {
  bottom: 100%;
  margin-bottom: 15px;
}
.form-horizontal .tooltip-top-left:after {
  top: 100%;
  left: 11px;
  border-top: 4px solid rgba(0, 0, 0, 0.9);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.form-horizontal .input-group input:focus + .tooltip-top-left,
.form-horizontal .textarea textarea:focus + .tooltip-top-left {
  right: auto;
  left: 0;
  margin-bottom: 5px;
}
.form-horizontal .tooltip-right {
  top: 4px;
  white-space: nowrap;
  margin-left: 15px;
}
.form-horizontal .tooltip-right:after {
  top: 6px;
  right: 100%;
  border-top: 4px solid transparent;
  border-right: 4px solid rgba(0, 0, 0, 0.9);
  border-bottom: 4px solid transparent;
}
.form-horizontal .input-group input:focus + .tooltip-right,
.form-horizontal .textarea textarea:focus + .tooltip-right {
  left: 100%;
  margin-left: 5px;
}
.form-horizontal .tooltip-left {
  top: 4px;
  white-space: nowrap;
  margin-right: 15px;
}
.form-horizontal .tooltip-left:after {
  top: 6px;
  left: 100%;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid rgba(0, 0, 0, 0.9);
}
.form-horizontal .input-group input:focus + .tooltip-left,
.form-horizontal .textarea textarea:focus + .tooltip-left {
  right: 100%;
  left: auto;
  margin-right: 5px;
}
.form-horizontal .tooltip-bottom-right {
  top: 100%;
  margin-top: 15px;
}
.form-horizontal .tooltip-bottom-right:after {
  bottom: 100%;
  right: 11px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  border-left: 4px solid transparent;
}
.form-horizontal .input-group input:focus + .tooltip-bottom-right,
.form-horizontal .textarea textarea:focus + .tooltip-bottom-right {
  right: 0;
  left: auto;
  margin-top: 5px;
}
.form-horizontal .tooltip-bottom-left {
  top: 100%;
  margin-top: 15px;
}
.form-horizontal .tooltip-bottom-left:after {
  bottom: 100%;
  left: 11px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.9);
  border-left: 4px solid transparent;
}
.form-horizontal .input-group input:focus + .tooltip-bottom-left,
.form-horizonal .textarea textarea:focus + .tooltip-bottom-left {
  right: auto;
  left: 0;
  margin-top: 5px;
}