= render 'layouts/page_header', :title => 'Settings', :icon => 'fa-cog', :subpage => 'General Settings'

.col-sm-12.col-md-8.col-lg-7
  #general-settings.jarviswidget.jarviswidget-color-darken{data: {widget_editbutton: "false",
     widget_fullscreenbutton: "false", widget_colorbutton: "false",
     widget_deletebutton: "false", widget_togglebutton: "false"}}
    %header
      %span.widget-icon
        %i.fa.fa-cog
      %h2 General Settings
      %span.jarviswidget-loader
        %i.fa.fa-refresh.fa-spin
    %div{:role => "content"}
      .widget-body
        = render 'form'
