= render 'layouts/page_header', :title => 'General Settings', :icon => 'fa-cog'
.row
  .col-sm-12.col-md-8.col-lg-6
    #wid-id-0.jarviswidget.jarviswidget-color-darken
      %header
        %span.widget-icon
          %i.fa.fa-cog
        %h2 General Settings
        %span.jarviswidget-loader
          %i.fa.fa-refresh.fa-spin
      %div{:role => "content"}
        .jarviswidget-editbox
          / This area used as dropdown edit box
        .widget-body
          = render 'form'
