<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Don't hestitate to contact us if you have any questions or concerns.</p>

<p>Provide Chat Support</p>
<p>support@providechat.com</p>