<h1>Welcome to Provide Chat</h1>

<h3>Congratulations for signing up for Provide Chat.</h3>

<p>For your next step we ask that you click the link below to confirm your account:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>In case you didn't complete the onboarding process you'll be able to do that when you confirm your account.</p>

<h3>Logging In</h3>

<p>To log into your account, please use the following URL:</p>

<p>http://app.providechat.com/</p>

<h3>Getting started</h3>

<p>After logging in and completing the initial setup, you'll now want to set your status to "Online". 
  To do this click "Open Chat=
 Monitor" found under "Quick Links". Once the Chat Monitor is open simply s=
et your Status to Online. Once done you'll be able to accept chats from vis=
itors.<br>
<br>
When a visitor chooses to chat with you, you should hear a ringing sound an=
d see the visitor list update accordingly. To respond to your visitor, simp=
ly click on them and then click "Accept" just above the chat window. You'll=
 now be able to chat back and forth with your visitor.<br>
<br>
Provide Chat will make it easier for you to provide your visitors with inst=
ant feedback. You can offer instant customer service, improve customer sati=
sfaction, and even close more sales.</p>

<p>&nbsp;</p>

<p>If you have any questions please just respond to this email.<br>
<br>
Also, if you haven't done so already, it's recommended you sign up for the =
Provide Chat newsletter, this way you'll be notified of any new features, u=
pdates, or limited time promotions:<br>
<br>
<br>
<br>
If you have any questions about any of this, or if you received this email =
in error, please let us know.<br>
<br>
Best regards,<br>
Luke Holzken<br>
Product Manager<br>
http://www.providechat.com/<br>
Provide Chat - The smarter, easier, more affordable way to chat live with y=
our website visitors.</p>