<html>
  <body>
    <h1>Receipt</h1>
    <p>
      You purchased a Provide Chat Subscription for <%= formatted_price(@charge.amount) %> on <%= @charge.created %>.
    </p>
    <p>
      Thank you for your purchase!
    </p>
    <p>
      -- Luke
    </p>
  </body>
</html>
