
p
  strong SUPPORT DISCLAIMER
p.small
  ' Support is information or advice provided by Provide Chat through email or telephone. 
  ' This can also include any software or any data file(s) installed or removed from 
  ' specified computer servers by providechat.com at the customers request.

p
  strong DISCLAIMER OF WARRANTY
p.small
  ' Support whether by email, telephone or through software installation is provided "as is" 
  ' without warranty of any kind. While we are knowledgeable and skilled professionals, we cannot 
  ' offer any guarantee as to the consequences of the Support provided. Should the Support cause 
  ' damage or loss of any kind, Provide Chat shall not be held liable to you or any other 
  ' person for indirect, special, punitive, incidental, or consequential damages of any 
  ' character including damages for loss of goodwill, work stoppage, computer failure or 
  ' malfunction, or any and all commercial damages or losses.
