.wizard-container
  #wizard.card.wizard-card.ct-wizard-green
    %form{:action => "", :method => ""}
      / You can switch "ct-wizard-azzure"  with one of the next bright colors: "ct-wizard-blue", "ct-wizard-green", "ct-wizard-orange", "ct-wizard-red"
      .wizard-header
        %h3
          %b LIST
          YOUR PLACE
          %br/
          %small This information will let us know more about your place.
      %ul.nav.nav-pills
        %li.active{:style => "width: 25%;"}
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#location"} Location
        %li{:style => "width: 25%;"}
          %a{"data-toggle" => "tab", :href => "#type"} Type
        %li{:style => "width: 25%;"}
          %a{"data-toggle" => "tab", :href => "#facilities"} Facilities
        %li{:style => "width: 25%;"}
          %a{"data-toggle" => "tab", :href => "#description"} Description
      .tab-content
        #location.tab-pane.active
          .row
            .col-sm-12
              %h4.info-text Let's start with the basic details
            .col-sm-5.col-sm-offset-1
              .form-group
                %label City
                %input#exampleInputEmail1.form-control{:placeholder => "Where is your place located?", :type => "text"}/
            .col-sm-5
              .form-group
                %label Country
                %br/
                %select.form-control{:name => "country"}
                  %option{:disabled => "disabled", :selected => "selected"} - country -
                  %option{:value => "Afghanistan"} Afghanistan
                  %option{:value => "Albania"} Albania
                  %option{:value => "Algeria"} Algeria
                  %option{:value => "American Samoa"} American Samoa
                  %option{:value => "Andorra"} Andorra
                  %option{:value => "Angola"} Angola
                  %option{:value => "Anguilla"} Anguilla
                  %option{:value => "Antarctica"} Antarctica
                  %option{:value => "..."} ...
            .col-sm-5.col-sm-offset-1
              .form-group
                %label Accommodates
                %select.form-control
                  %option{:disabled => "disabled", :selected => "selected"} - persons -
                  %option 1 Person
                  %option 2 Persons
                  %option 3 Persons
                  %option 4 Persons
                  %option 5 Persons
                  %option 6+ Persons
            .col-sm-5
              .form-group
                %label Rent price
                .input-group
                  %input.form-control{:placeholder => "Rent price per day", :type => "text"}/
                  %span.input-group-addon $
        #type.tab-pane
          %h4.info-text What type of location do you have?
          .row
            .col-sm-10.col-sm-offset-1
              .col-sm-4.col-sm-offset-2
                .choice{"data-original-title" => "Select this option if you have a house.", "data-toggle" => "wizard-radio", :rel => "tooltip", :title => ""}
                  %input{:name => "type", :type => "radio", :value => "House"}/
                  .icon
                    %i.fa.fa-home
                  %h6 House
              .col-sm-4
                .choice{"data-original-title" => "Select this option if you have an appartment", "data-toggle" => "wizard-radio", :rel => "tooltip", :title => ""}
                  %input{:name => "type", :type => "radio", :value => "Appartment"}/
                  .icon
                    %i.fa.fa-building
                  %h6 Appartment
        #facilities.tab-pane
          %h4.info-text Tell us more about facilities.
          .row
            .col-sm-5.col-sm-offset-1
              .form-group
                %label Your place is good for
                %select.form-control
                  %option{:disabled => "disabled", :selected => "selected"} - type -
                  %option Business
                  %option Vacation
                  %option Work
            .col-sm-5
              .form-group
                %label Is air conditioning included ?
                %select.form-control
                  %option{:disabled => "disabled", :selected => "selected"} - response -
                  %option Yes
                  %option No
            .col-sm-5.col-sm-offset-1
              .form-group
                %label Does your place have wi-fi?
                %select.form-control
                  %option{:disabled => "disabled", :selected => "selected"} - response -
                  %option Yes
                  %option No
            .col-sm-5
              .form-group
                %label Is breakfast included?
                %select.form-control
                  %option{:disabled => "disabled", :selected => "selected"} - response -
                  %option Yes
                  %option No
        #description.tab-pane
          .row
            %h4.info-text Drop us a small description.
            .col-sm-6.col-sm-offset-1
              .form-group
                %label Place description
                %textarea.form-control{:placeholder => "", :rows => "9"}
            .col-sm-4
              .form-group
                %label Example
                %p.description "The place is really nice. We use it every sunday when we go fishing. It is so awesome."
      .wizard-footer
        .pull-right
          %input.btn.btn-next.btn-fill.btn-success.btn-wd.btn-sm{:name => "next", :type => "button", :value => "Next"}/
          %input.btn.btn-finish.btn-fill.btn-success.btn-wd.btn-sm{:name => "finish", :style => "display: none;", :type => "button", :value => "Finish"}/
        .pull-left
          %input.btn.btn-previous.btn-fill.btn-default.btn-wd.btn-sm.disabled{:name => "previous", :type => "button", :value => "Previous"}/
        .clearfix
        
:javascript
  