%header#header
  #logo-group
    %span#logo= image_tag "logo.png", alt: "Provide Chat"
  .pull-right
    #hide-menu.btn-header.pull-right
      %span
        %a{:href => "javascript:void(0);", :title => "Collapse Menu"}
          %i.fa.fa-reorder
    / end collapse menu
    / logout button
    #logout.btn-header.transparent.pull-right
      %span
        = link_to destroy_agent_session_path, :method => :delete, :class => "btn btn-sm" do
          %i.fa.fa-sign-out
    #search-mobile.btn-header.transparent.pull-right
      %span
        %a{:href => "javascript:void(0)", :title => "Search"}
          %i.fa.fa-search
    / end search mobile button
